* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.header {
  width: 100%;
  height: 7vw;
  padding: 0 7vw;
  background-color: #840e40;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
}
#navbar {
  width: 33%;
  height: 100%;
}
.nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-list > li {
  width: auto;
  height: 100%;
  text-align: center;
  padding: 2vw 1vw;
  list-style: none;
}
.nav-list > li:hover {
  height: 100%;
  background-color: #535e90;
}
.nav-link {
  text-decoration: none;
  font-size:2.3vw;
  color: #fff;
}
.main {
  width: 100%;
  margin: 7vw 0 0 0;
}
#welcome-section {
  width: 100%;
  height: 100vh;
  padding: 12vw 7vw 0; 
  background-color: #1b244d;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.welcome-section-title {
  width: 85%;
  padding: 8vw 0 0 15vw;
  text-align: center;
  order: 1;
}
.title {
  margin: 0 0 0 0;
  font-size: 4vw;
  color: #fff;
}
.title-append {
  padding: 1.5vw 0;
  font-size: 2vw;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.2vw;
  color: #840e40;
}
.title-invite {
  font-size: 2.2vw;
  letter-spacing: 0.2vw;
  color: #fff;
}
.welcome-section-aside {
  width: 15%;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  order: 2;
}
.welcome-section-aside:hover {
  color: rgba(255, 255, 255, 0.9);
}
.welcome-section-aside h2 {
  padding: 0 0 0.5vw 0;
  font-size: 1.8vw;
}
.welcome-section-aside p {
  padding: 0.5vw 0;
  font-size: 1.5vw;
}
.wrap-img {
  width: 17vw;
  height: 17vw;
  position: absolute;
  top: 9vw;
  left: 7vw;
}
.welcome-section-img {
  width: 17vw;
  height: 17vw;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.welcome-section-img img {
  width: 150%;
  height: auto;
  position: absolute;
  top: -6vw;
  left: -3.4vw;
}
#projects {
  width: 100%;
  min-height: 100vh;
  padding: 7vw 5vw 2vw;
  text-align: center;
  background-color: #9b9dd1;
}
#projects h3 {
  padding: 4vh 0;
  font-size: 4vw;
  color: #fff;
}
.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.projects > a {
  text-decoration: none;
}
.project {
  background-color: #1b244d;
  margin: 0 0 2vw 0;
  text-align: center;
}
.project p {
  padding: 1vh 0;
  font-size: 1.7vw;
  color: #fff;
}
.project-tile {
  width: 20vw;
  height: 17vw;
  overflow: hidden;
}
.project-tile img {
  width: 100%;
  height: auto;
}
.end-part {
  width: 100%;
  height: 85vh;
  padding: 15vw 0 0;
  text-align: center;
  background: linear-gradient(45deg, #9b9dd1, #840e40, #1b244d);
}
.end-text {
  padding: 0 0 3vw;
  color: #fff;
  font-size: 6vw;
  font-weight: bold;
}
.end-smile {
  font-size: 3vw;
  font-style: italic;
  letter-spacing: 0.2vw;
  color: #fff;
}
.line {
  width: 100%;
  height: 3px;
  background-color: #9b9dd1;
}
.footer {
  width: 100%;
  height: 7vw;
  padding: 0 7vw;
  background-color: #840e40;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer > p {
  padding: 0 0 0 2vw;
  font-size: 2vw;
  color: #fff;
}
@media(min-width: 1024px) and (min-height: 1366px) {
 /* .header {
    height: 12vh;
  }
  #navbar{
    margin: 0 auto;
  }
  .nav-list > li { 
    padding: 4vh 2vh;
  }
  .nav-link {  
    font-size:3vh;
  }*/
  .header {
    width: 100vw;
    height: 12vh;
    padding: 0 7vh;
    background-color: #840e40;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
  }
  #navbar {
    width: 33%;
    margin: 0 auto;
  }
  .nav-list {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .nav-list > li {
   
    height: 100%;
    padding: 4vh 2vh;
    list-style: none;
  }
  .nav-list > li:hover {
    height: 100%;
    background-color: #535e90;
  }
  .nav-link {
    text-decoration: none;
    font-size: 3vh;
    color: #fff;
  }
  .main {
  }
  #welcome-section {
    flex-direction: column;
    padding: 12vh 0 0; 
  }
  .welcome-section-title {
    margin: 0 auto;
    order: 2;
  }
  .title {
    font-size: 4vh;
  }
  .title-append {
    padding: 1.5vh 0;
    font-size: 2vh;
    letter-spacing: 0.2vh;
  }
  .title-invite {
    font-size: 2.2vh;
    letter-spacing: 0.2vh;
  }
  .welcome-section-aside {
    width: 15%;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    order: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .welcome-section-aside h2 {
    padding: 0 0 0.5vh 0;
    font-size: 2.5vh;
  }
  .welcome-section-aside p {
    padding: 0.5vh 0;
    font-size: 2.2vh;
  }
  .wrap-img {
    width: 22vh;
    height: 22vh;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    order: 1;
  }
  .welcome-section-img {
    width: 22vh;
    height: 22vh;
  }
  .welcome-section-img img {
    top: -7.5vh;
    left: -4.5vh;
  }
  #projects {
    padding: 7vh 5vh 2vh;
  }
  #projects h3 {
    padding: 7vh 0;
    font-size: 4.5vh;
  }
  .project {
    margin: 0 0 2vh 0;
  }
  .project p {
    padding: 1vh 0;
    font-size: 2vh;
  }
  .project-tile {
    width: 20vh;
    height: 17vh;
  }
  .end-part {
    height: 86vh;
    padding: 25vh 1vh 0;
  }
  .end-text {
    padding: 0 0 3vh;
    font-size: 6vh;
  }
  .end-smile {
    font-size: 3vh;
    letter-spacing: 0.2vh;
  }
  .footer {
    height: 12vh;
    padding: 0 1vh;
  }
  .footer > p {
    padding: 0 0 0 1vh;
    font-size: 2.5vh;
  }
}